includeConfig '../../../modules/local/humann/downloadchocophlandb/nextflow.config'
includeConfig '../../../modules/local/humann/downloadunirefdb/nextflow.config'
includeConfig '../../../modules/local/humann/humann/nextflow.config'
includeConfig '../../../modules/local/humann/join/nextflow.config'
includeConfig '../../../modules/local/humann/regroup/nextflow.config'
includeConfig '../../../modules/local/humann/rename/nextflow.config'
includeConfig '../../../modules/local/humann/renorm/nextflow.config'
