process {
    withName: HUMANN_JOIN {
        publishDir = [
            [
                path: { "${params.outdir}/humann/results" },
                mode: params.publish_dir_mode,
                pattern: '*_joined.tsv.gz'
            ]
        ]
        ext.args = params.humann_options ? params.humann_options : ""
    }
}
