process {
    withName: HUMANN_RENORM {
        publishDir = [
            [
                path: { "${params.outdir}/humann/renorm" },
                mode: params.publish_dir_mode,
                pattern: '*_renorm.tsv.gz'
            ]
        ]
        ext.args = params.humann_options ? params.humann_options : ""
    }
}
