process {
    withName: HUMANN_RENAME {
        publishDir = [
            [
                path: { "${params.outdir}/humann/rename" },
                mode: params.publish_dir_mode,
                pattern: '*_renamed.tsv.gz'
            ]
        ]
        ext.args = params.humann_options ? params.humann_options : ""
    }
}
