process {
    withName: HUMANN_HUMANN {
        publishDir = [
            [
                path: { "${params.outdir}/humann/humann" },
                mode: params.publish_dir_mode,
                pattern: '*_genefamilies.tsv'
            ],
            [
                path: { "${params.outdir}/humann/humann" },
                mode: params.publish_dir_mode,
                pattern: '*_pathabundance.tsv'
            ],
            [
                path: { "${params.outdir}/humann/humann" },
                mode: params.publish_dir_mode,
                pattern: '*_pathcoverage.tsv'
            ],
            [
                path: { "${params.outdir}/humann/humann" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ],
        ]
        ext.args = params.humann_options ? params.humann_options : ""
    }
}
