process {
    withName: HUMANN_REGROUP {
        publishDir = [
            [
                path: { "${params.outdir}/humann/regroup" },
                mode: params.publish_dir_mode,
                pattern: '*_regroup.tsv.gz'
            ]
        ]
        ext.args = params.humann_options ? params.humann_options : ""
    }
}
